@using Nexus.Models.ModelView;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    List<ServicePlanView> service = (List<ServicePlanView>)ViewBag.Service;
    List<ServicePlanView> service2 = (List<ServicePlanView>)ViewBag.Service2;
    List<Blog> blogs = (List<Blog>)ViewBag.Blogs;
}
<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    <div id="shopify-section-template--15388007792803__1638183837345ba848" class="shopify-section index-section">
        <div class="s-panel" data-section-id="template--15388007792803__1638183837345ba848">
            <div class="loader wrloader"
                 style="background: url('//cdn.shopify.com/s/files/1/0508/0409/7187/files/loader_200x200.gif?v=1640688238') 50% 50% no-repeat rgba(255, 255, 255, 1);">
            </div>
            <div class="owl-slider">


                <div class="sliderel">
                    <div class="sliderimg col-6">
                        <a href="/ServicePlan" title="Shop now">

                            <img src="https://i.pinimg.com/564x/ec/09/4b/ec094b553e38f6462c2ce3f6d8e5fed2.jpg?width=500&height=500"
                                 alt="" class="img-fluid mx-auto" width="960" height="950" />

                        </a>
                    </div>
                    <div class="slidertext col-6">
                        <div class="slideff">

                            <h3>best service</h3>


                            <h2>Latest Service Collection</h2>


                            <p>Discover the world through service for sale</p>


                            <a href="/ServicePlan" class="btn btn-primary">Shop Now</a>

                        </div>
                    </div>
                </div>

                <div class="sliderel">
                    <div class="sliderimg col-6">
                        <a href="/ServicePlan" title="Shop now">

                            <img src="https://i.pinimg.com/564x/90/83/7e/90837e4f52470e949e9daa38fadf529d.jpg?width=500&height=500"
                                 alt="" class="img-fluid mx-auto" width="960" height="950" />

                        </a>
                    </div>
                    <div class="slidertext col-6">
                        <div class="slideff">

                            <h3>best service</h3>


                            <h2>Historical Service Collection</h2>


                            <p>Discover the world through service for sale</p>


                            <a href="/ServicePlan" class="btn btn-primary">Shop now</a>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div id="shopify-section-template--15388007792803__1638184869fe89d1a2" class="shopify-section spaced-section">
        <div data-section-id="template--15388007792803__1638184869fe89d1a2" class="bnrtext container">
            <div class="row rless">


                <div class="col-sm-6 col-12 cless">
                    <a href="/ServicePlan" title="Banners">

                        <img src="https://i.pinimg.com/564x/0e/8f/d6/0e8fd6aa27e1ae9bc6dcd4891a60c92e.jpg"
                             alt="" class="img-fluid mx-auto" width="675" height="600" />

                    </a>
                </div>

                <div class="col-sm-6 col-12 cless imgbnrtext">

                    <h5>About</h5>


                    <h2>NEXUS</h2>


                    <p>
                    <p>
                        Nexus Communication System is an Organization system that provides two services like the tele-communications and Internet Services. It is one of the major vendors at the local place. It has now extended its service all over the territory due to the increase in demand for the internet service.
                    </p>
                    </p>


                    <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/Signature.png?v=1614321083" alt=""
                         class="img-fluid mx-auto" width="215" height="83" />

                    </a>
                </div>



            </div>
        </div>

    </div>
    <section id="shopify-section-template--15388007792803__featured_products"
             class="shopify-section spaced-section">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-card.css?v=89485629491935090781664598352"
              rel="stylesheet" type="text/css" media="all" />
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-price.css?v=157121878581579519991640687772"
              rel="stylesheet" type="text/css" media="all" />
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-product-grid.css?v=149705796963725527511640687772"
              rel="stylesheet" type="text/css" media="all" />
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rating.css?v=43346175014764664351640687773"
              rel="stylesheet" type="text/css" media="all" />
        <div class="container product-tab-item">
            <div class="pro-tab tabs">
                <h2 class="heading text-center"><span>Top Service</span></h2>
                <ul class="list-inline nav nav-tabs text-right">
                </ul>
            </div>
            <div class="tab-content tab-pro rless" id="tab-content">
                <div id="tab-fea-0" class="tab-pane active clearfix fadeIn animated">
                </div>

                <div id="tab-latest-0" class="tab-pane clearfix fadeIn animated">
                </div>

                <div id="tab-best-0" class="tab-pane clearfix fadeIn animated">
                </div>
            </div>
        </div>

        <style>
            .pro-tab .nav-tabs .nav-item .nav-link.active,
            .pro-tab .nav-tabs .nav-link:hover {
                background-image: url('//cdn.shopify.com/s/files/1/0508/0409/7187/files/product_160x37.png?v=1640688579');
            }
        </style>


    </section>
    <section id="shopify-section-template--15388007792803__1638617151d260bc7b" class="shopify-section">
        <div class="appendtabfea">
            <div class="wbfea">
                <!-- Slick -->



                
                
                @foreach (ServicePlanView item in @service)
                {
                    <ul class="twopro">
                    <li class="grid__item col-12 cless list-unstyled">

                        <div class="card-wrapper wbproduct-container card">

                            <div class="wbimgblock">
                                <div id="webipro-template--15388007792803__1638617151d260bc7b-5843254444195"
                                     class="imgblockslide slider card__media">
                                   
                                    <div class="product__media-item"
                                         data-media-id="template--15388007792803__1638617151d260bc7b-5843254444195-12036432527523">
                                            <a href="/ServicePlan/ServicePlanDetail/@item.Id" title="Products">
                                            <img class="img-fluid mx-auto"
                                                 src="~/Image/@item.Image"
                                                 loading="lazy" width="430" height="453" alt="">
                                        </a>
                                    </div>
                                    <div class="button-group">
                                        <div class="wbqvtop">
                                           <a href="/ServicePlan/ServicePlanDetail/@item.Id" class="wbquickv" aria-label="Quickview">
                                                <svg viewBox="0 0 511.999 511.999">
                                                    <path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035
        c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
        C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
        c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
        C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
                                                    <path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275
        s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516
        s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card__badge"><span>Sale</span></div>



                            </div>
                            <div class="wbproductdes">


                                <h3 class="product-title">
                                        <a href="/ServicePlan/ServicePlanDetail/@item.Id">
                                        @item.Name
                                    </a>
                                </h3>
                                <span class="caption-large light"></span>
                            </div>

                        </div>
                    </li>

                </ul>
                }


            </div>
        </div>
    </section>

    <div id="shopify-section-template--15388007792803__1640162541195a47a1" class="shopify-section spaced-section">
        <div data-section-id="template--15388007792803__1640162541195a47a1" class="bnrtext container-fluid">
            <div class="row rless">

                <div class="colltext col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
                    <div class="collff"
                         style="background-image:url('//cdn.shopify.com/s/files/1/0508/0409/7187/files/collection-text-background_463x300.png?v=1640688374')">

                        <h1>Our latest collections of</h1>


                        <h1>Original Phone &amp; Internet</h1>


                    </div>
                </div>

                <div class="collection-img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <a href="/ServicePlan">
                        <span hidden>Banners</span>

                        <img src="~/Image/Kha.jpg" alt=""
                             class="img-fluid mx-auto" width="1100" height="725" />

                    </a>
                </div>
            </div>
        </div>

    </div>


    <div id="shopify-section-template--15388007792803__16385333539fe82484" class="shopify-section spaced-section">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-card.css?v=89485629491935090781664598352"
              rel="stylesheet" type="text/css" media="all" />
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-price.css?v=157121878581579519991640687772"
              rel="stylesheet" type="text/css" media="all" />
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-product-grid.css?v=149705796963725527511640687772"
              rel="stylesheet" type="text/css" media="all" />
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rating.css?v=43346175014764664351640687773"
              rel="stylesheet" type="text/css" media="all" />
        <div class="container spacial-pro">
            <h2 class="heading text-center"><span>Special Service</span></h2>
            <div class="rless">
                <div class="wbspeprod">
                    <!-- Slick -->


                @foreach (var item in service2)
                    {
                        <ul class="twopro">
                        <li class="grid__item col-12 cless list-unstyled">

                            <div class="card-wrapper wbproduct-container card">

                                <div class="wbimgblock">
                                    <div id="webipro-template--15388007792803__16385333539fe82484-5843261653155"
                                         class="imgblockslide slider card__media">
                                        <div class="product__media-item"
                                             data-media-id="template--15388007792803__16385333539fe82484-5843261653155-12036568187043">
                                                <a href="/ServicePlan/ServicePlanDetail/@item.Id" title="Products">
                                                <img class="img-fluid mx-auto"
                                                     src="~/Image/@item.Image"
                                                     loading="lazy" width="430" height="453" alt="">
                                            </a>
                                        </div>
                                        <div class="button-group">
                                            <div class="wbqvtop">
                                                    <a href="/ServicePlan/ServicePlanDetail/@item.Id" class="wbquickv" aria-label="Quickview">
                                                    <svg viewBox="0 0 511.999 511.999">
                                                        <path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035
        c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
        C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
        c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
        C447.361,287.923,358.746,385.406,255.997,385.406z"></path>
                                                        <path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275
        s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516
        s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card__badge"></div>



                                </div>
                                <div class="wbproductdes">


                                    <h3 class="product-title">
                                        <a href="/ServicePlan/ServicePlanDetail/@item.Id">
                                            @item.Name
                                        </a>
                                    </h3>
                                    <span class="caption-large light"></span>
                                </div>

                            </div>
                        </li>

                    </ul>  
                    }


                </div>
            </div>
        </div>

    </div>

    <section id="shopify-section-template--15388007792803__1638591288235a3fcb"
             class="shopify-section spaced-section spaced-section--full-width">
        <link rel="stylesheet"
              href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-slider.css?v=62267364994741792611665038565"
              media="print" onload="this.media='all'">
        <link rel="stylesheet"
              href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-card.css?v=89485629491935090781664598352"
              media="print" onload="this.media='all'">
        <link rel="stylesheet"
              href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/section-featured-blog.css?v=77165805625490004661640687791"
              media="print" onload="this.media='all'">

        <noscript>
            <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-slider.css?v=62267364994741792611665038565"
                  rel="stylesheet" type="text/css" media="all" />
        </noscript>
        <noscript>
            <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-card.css?v=89485629491935090781664598352"
                  rel="stylesheet" type="text/css" media="all" />
        </noscript>

        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/section-featured-blog.css?v=77165805625490004661640687791"
              rel="stylesheet" type="text/css" media="all" />
        <div class="container blog">
            <h2 class="heading text-center"><span>latest blog</span></h2>
            <div class="rless">
                <div class="wbblog">
                    @foreach (var item in blogs)
                    {
                        <div class="col-12 cless">


                            <article class="article-card">
                                <div class="wbblogimg">
                                    <a href="/Blog/Detail/@item.Id"
                                       class="article-content motion-reduce">
                                        <img src="~/Image/@item.Image"
                                             alt="Ut sed felis pulvinar, pretium diam in, efficitur metus." width="1170"
                                             height="544" loading="lazy" class="motion-reduce img-fluid mx-auto">
                                    </a>
                                    <div class="wbblogdate">06<br><span>Nov</span> </div>
                                </div>
                                <div class="wbblogimgdesc">
                                    
                                    <h2>
                                        <a href="/Blog/Detail/@item.Id">
                                           @item.Name
                                        </a>
                                    </h2>
                                    <p class="wbblogtxt">
                                        @Html.Raw(item.Description)
                                    </p>
                                    <div class="blog__view-all">
                                        <a href="/Blog/Detail/@item.Id"
                                           class="btn btn-primary" title="Read More">Read more</a>
                                    </div>
                                </div>
                            </article>

                        </div>
                    }
                </div>
            </div>
        </div>


    </section>
    <div id="shopify-section-template--15388007792803__1638597115c8a203b4" class="shopify-section spaced-section">
        <div class="logoslide">
            <div class="container wblogos">
                <div class="rless">

                    <div class="wblogobar">

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand10_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand7_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand8_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand5_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand6_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand9_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand3_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand2_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                        <div class="col-12 cless">


                            <img src="//cdn.shopify.com/s/files/1/0508/0409/7187/files/brand4_225x150.png?v=1640688431"
                                 class="logo-bar__image img-fluid mx-auto" alt="" width="225" height="150" />


                        </div>

                    </div>

                </div>
            </div>
        </div>




    </div>
</main>
<div id="shopify-section-popup-products" class="shopify-section index-section">
    <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-card.css?v=89485629491935090781664598352"
          rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-price.css?v=157121878581579519991640687772"
          rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rating.css?v=43346175014764664351640687773"
          rel="stylesheet" type="text/css" media="all" />



</div>
<div id="shopify-section-footer" class="shopify-section">
    <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/section-footer.css?v=64657304613833455551640687791"
          rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet"
          href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-newsletter.css?v=11382818362896181181640687770"
          media="print" onload="this.media='all'">
    <link rel="stylesheet"
          href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-list-menu.css?v=68832584215126737631640687769"
          media="print" onload="this.media='all'">
    <link rel="stylesheet"
          href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rte.css?v=130037445723382612091640687773"
          media="print" onload="this.media='all'">
    <link rel="stylesheet"
          href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/disclosure.css?v=53687825654556906991640687778"
          media="print" onload="this.media='all'">

    <noscript>
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-newsletter.css?v=11382818362896181181640687770"
              rel="stylesheet" type="text/css" media="all" />
    </noscript>
    <noscript>
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-list-menu.css?v=68832584215126737631640687769"
              rel="stylesheet" type="text/css" media="all" />
    </noscript>
    <noscript>
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rte.css?v=130037445723382612091640687773"
              rel="stylesheet" type="text/css" media="all" />
    </noscript>
    <noscript>
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/disclosure.css?v=53687825654556906991640687778"
              rel="stylesheet" type="text/css" media="all" />
    </noscript>
    <style>
        .footer {
            color: #9e9e9e;
            background-color: #121212;
        }

        .footer__blocks-wrapper h5,
        .footer-block--newsletter h2 {
            color: #ffffff;
        }

        .footer .footer-collapse li a,
        .footblink p a,
        .footblink p a::after,
        .copyright__content a,
        .footer__list-social li a {
            color: #9e9e9e;
        }
    </style>



</div>

<ul hidden>
    <li id="a11y-refresh-page-message">Choosing a selection results in a full page refresh.</li>
</ul>


