@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <nav class="breadcrumb row" role="navigation" aria-label="breadcrumbs">
        <div class="col-12">
            <a href="/" title="Home">Home</a>

            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            <span>Information</span>

        </div>
    </nav>
</div>

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    <section id="shopify-section-template--15388007891107__main" class="shopify-section">
        <link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/section-main-page.css?v=102708094116106197911640687792" media="all" onload="this.media='all'">
        <link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rte.css?v=130037445723382612091640687773" media="all" onload="this.media='all'">

        <noscript><link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/section-main-page.css?v=102708094116106197911640687792" rel="stylesheet" type="text/css" media="all" /></noscript>
        <noscript><link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rte.css?v=130037445723382612091640687773" rel="stylesheet" type="text/css" media="all" /></noscript>

        <div class="container">
            <h1 class="heading"><span>information</span></h1>
            <div class="rte">
                <p>Nexus Communication System is an Organization system that provides two services like the tele-communications and Internet Services. It is one of the major vendors at the local place. It has now extended its service all over the territory due to the increase in demand for the internet service.</p>
                <p>They actually provide two types of connections, one being the Dial – Up connection (Landline phone of the same vendor is compulsory to have this type of internet connection) and the other being the Broadband connection. Due to the increase in demand for connection and as to increase the comfort level, they have opened the retail shops at each place so that the customer can enquire regarding the connection or place an order for the connection by directly visiting to the retail shops at their place in that city, instead of applying at the office at their city.</p>
                <p>After the order for a connection is received, they will check for the feasibility and if the area is feasible only then the customer will be provided with the connection. For a customer who has applied for the Dial – Up connection, the feasibility check will be conducted for both the landline and as well for the internet connection incase if the customer has applied for both the phone and internet connection and if the customer is holding the landline from the same vendor and now applied for the internet connection then the feasibility test is to be conducted for the internet connection only. Feasibility check is to be conducted in order to check the distance as they consider the distance parameters for giving the connection, to check with the server availability, etc... as per the company patterns.</p>
                <p>They get the equipments like the modems, routers, etc. from different product manufacturing vendors. So they even need to track the details of the stock available and as well they check for the requests for connection that they have received, so that they can order for the equipments based on the orders received for the connection. The product details along with the details of Retail shops, Vendors and the purchasal lists are taken care by the Admin (Manager). Also the Employee details are maintained by the Admin solely.</p>
                <p>Ut eu luctus quam, ac pulvinar justo. Nulla ut pharetra orci, sit amet sagittis nisi. Mauris vitae tristique augue, quis tempus neque. Vestibulum molestie fermentum condimentum. Fusce ultrices sodales imperdiet. Nam hendrerit, mauris at hendrerit pretium, enim nisl congue nunc, id maximus enim mauris ut orci. Etiam nec lorem vehicula, imperdiet libero quis, mollis metus. Etiam luctus dictum nunc a tempor. Maecenas vitae mauris aliquam, tempor libero et, blandit dui. In feugiat luctus urna, sit amet vehicula odio pretium vitae. Aenean vitae enim quis nunc feugiat molestie. Quisque placerat diam ipsum, sit amet tempus diam accumsan a. Proin blandit, diam at volutpat mattis, ante tortor egestas nunc, quis feugiat erat ipsum non felis. Aenean sed sem dictum, vulputate erat nec, semper diam.</p>
                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin quis nulla eu nisi convallis imperdiet ac quis erat. Cras luctus sodales fermentum. Nullam vel vulputate purus. Aliquam purus risus, bibendum sit amet odio eget, efficitur egestas magna. Donec hendrerit pellentesque libero, et dignissim eros vulputate et. Morbi libero augue, bibendum sit amet libero sit amet, eleifend semper velit. Nam in scelerisque tortor, quis suscipit urna. Mauris sollicitudin viverra purus at malesuada.</p>
                <p>Duis a ligula venenatis sem congue dignissim. Nullam pharetra vehicula purus sed blandit. Praesent elementum laoreet erat quis iaculis. Sed dapibus consectetur enim, eget tempor dolor feugiat ac. Nam commodo sem ac massa convallis, ut egestas neque tempor. Vivamus et hendrerit dolor. Nunc arcu tellus, imperdiet quis est nec, sagittis varius ligula. Duis vel dictum ex. Integer mi enim, ultrices imperdiet enim sed, pharetra semper eros. Etiam sit amet felis erat. Aenean gravida dui eget varius dignissim.</p>
                <p>Proin blandit fermentum nisl, at dictum purus condimentum suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec velit risus, finibus eu laoreet vitae, pulvinar ac lacus. Praesent aliquam tincidunt vestibulum. Nulla sagittis, ligula et pulvinar dignissim, nunc nisi ullamcorper sapien, vel suscipit nunc nisl ac tortor. Integer ut tincidunt eros. Pellentesque euismod fringilla urna ac dapibus. Mauris luctus risus et ligula sagittis, ac malesuada urna tincidunt. Proin pulvinar vitae ex sed tristique. Proin eu pretium leo.</p>
            </div>
        </div>
    </section>
</main>