@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <nav class="breadcrumb row" role="navigation" aria-label="breadcrumbs">
        <div class="col-12">
            <a href="/" title="Home">Home</a>

            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
            <span>Service</span>

        </div>
    </nav>
</div>

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    <div id="shopify-section-template--15388007760035__banner" class="shopify-section spaced-section--full-width">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-collection-hero.css?v=108030866805168508941640687767"
              rel="stylesheet" type="text/css" media="all">
        <div class="container collection-hero">
            <h1 class="heading"><span class="visually-hidden">Collection: </span><span>Service</span></h1>
            <div class="row">
                <div class=" col-md-10 col-sm-12 col-12  collection-hero__text-wrapper">
                    <div class="collection-hero__description rte"></div>
                </div>
            </div>
        </div>


    </div>
    <div id="shopify-section-template--15388007760035__product-grid"
         class="shopify-section collection-grid-section">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/template-collection.css?v=182898978363309370031640687795"
              rel="stylesheet" type="text/css" media="all">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-loading-overlay.css?v=110569703901192468011640687769"
              rel="stylesheet" type="text/css" media="all">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-card.css?v=89485629491935090781664598352"
              rel="stylesheet" type="text/css" media="all">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-price.css?v=157121878581579519991640687772"
              rel="stylesheet" type="text/css" media="all">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-product-grid.css?v=149705796963725527511640687772"
              rel="stylesheet" type="text/css" media="all">


        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rating.css?v=43346175014764664351640687773"
              rel="stylesheet" type="text/css" media="all">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-accordion.css?v=95585247849021568291640687765"
              rel="stylesheet" type="text/css" media="all">
        <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-loading-overlay.css?v=110569703901192468011640687769"
              rel="stylesheet" type="text/css" media="all">

        <script src="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/product-form.js?v=145274427960080480171640687788"
                defer="defer"></script>
        <link rel="stylesheet"
              href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rte.css?v=130037445723382612091640687773"
              as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link href="//cdn.shopify.com/s/files/1/0508/0409/7187/t/5/assets/component-rte.css?v=130037445723382612091640687773"
                  rel="stylesheet" type="text/css" media="all" />
        </noscript>

        <div id="ProductGridContainer">
            @if (TempData["Alert"] != null)
            {
                if (TempData["Alert"]?.ToString() == "Success")
                {
                    <div class="alert alert-success alert-dismissible container" id="rmAlert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="remove()">&times;</a>
                        <strong>Success!</strong> Success Buying Arts.
                    </div>
                }
                else if (TempData["Alert"]?.ToString() == "Error")
                {
                    <div class="alert alert-danger alert-dismissible container" id="rmAlert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="remove()">&times;</a>
                        <strong>Error!</strong> There are some error please check back.
                    </div>
                }
            }







            <div class="row wbsortbar">
                <div class="wbglbtn col-md-3 col-5">
                </div>

                <div class="wbcatsort col-md-9 col-7">
                    <facet-filters-form class="small-hide">
                        <form id="FacetFiltersForm">
                            <div class="product-count" role="status">

                                <div class="loading-overlay__spinner">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                </div>
                            </div>
                            <div class="facet-filters sorting caption">
                                <div class="facet-filters__field">
                                    <span class="facet-filters__label"><label for="SortBy">Sort by:</label></span>
                                    <div class="select">
                                        <select name="SelectPrice" class="facet-filters__sort select__select caption-large" id="SelectPrice" aria-describedby="a11y-refresh-page-message">
                                            <option value="0">All Service</option>
                                            <option value="1">Price, high to low</option>
                                            <option value="2">Price, low to high</option>

                                        </select>
                                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z">
                                            </path>
                                        </svg>

                                    </div>
                                    &ensp;
                                    <div class="select">
                                        <select name="SelectExpiry" class="facet-filters__sort select__select caption-large" id="SelectExpiry" aria-describedby="a11y-refresh-page-message">
                                            <option value="0">Options</option>
                                            @for (int i = 0; i < ViewBag.lsExpiry.Count; i++)
                                            {
                                                <option value="@ViewBag.lsExpiry[i].ID">@ViewBag.lsExpiry[i].Name</option>
                                            }

                                        </select>
                                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z">
                                            </path>
                                        </svg>

                                    </div>
                                </div>
                                <noscript>
                                    <button type="submit" class="facets__button-no-js button">Sort</button>
                                </noscript>
                            </div>
                        </form>
                    </facet-filters-form>
                </div>
            </div>





            <div class="collection container">




                @*//partiview*@
                <div id="revenueComponent">
                    @Html.Partial("_ServicePlanPrice")
                </div>





            </div>
        </div>
    </div>


    </div>
</main>





<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script type="text/javascript">
    $(function () {
        $("select").change(function () {
            $.ajax({
                type: "Get",
                url: "/ServicePlan/SearchServicePlan?SelectPrice=" + $("#SelectPrice").val()
                    + "&&SelectExpiry=" + $("#SelectExpiry").val(),  //remember change the controller to your owns.
                success: function (data) {
                    $("#revenueComponent").html("");
                    $("#revenueComponent").html(data);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    });
</script>
